@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
}

.skills-title{
  font-size:35px;
  font-family:'Allerta', sans-serif;
  margin-bottom:40px;
}

/* the canvas */
.skills-canvas{
  position:relative;
  width:100%;
  height:500px;
}

/* all icons */
.skill{
  position:absolute;
  width:75px;      /* controls size */
  transition:0.4s ease;
}

/* hover animation */
.skill:hover{
  transform:scale(1.15) rotate(5deg);
}

.s1{ top:0px; left:4%; }
.s2{ top:0px; left:35%; }
.s3{ top:0px; right:8%; }
.s4{ top:40px; left:35%; }
.s5{ top:80px; right:12%; }
.s6{ top:80px; left:13%; }
.s7{ top:150px; left:45%; }
.s8{ top:270px; right:25%; }
.s9{ bottom:190px; left:8%; }
.s10{ bottom:190px; right:3%; }
.s11{ bottom:140px; right:52%; }
.s12{ top:160px; right:0%; }
.s13{ bottom:130px; right:0%; }


